html, body {
  background-color: #00004d;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p, h1, h2, h3, h4, h5 {
  color: white;
  margin: 0px;
}

#map-container {
  flex-grow: 1;
}

.header-menu {
  height: 36px;
  width: 36px;
  margin-left: 10px;
  margin-top: 10px;
}

.header-title {
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  margin-bottom: 10px;
}

.sidemenu-container {
  height: 100%;
  width: 50%;
  z-index: 1;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  background: #000066;
}

.sidemenu-close {
  height: 24px;
  width: 24px;
  padding: 10px;
}

.sidemenu-close-container {
  width: 100%;
  text-align: right;
}

.sidemenu-container p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 0.8em;
}

.sidemenu-container p:hover {
  background-color: #0000ff;
}
